$body_bgc: rgb(230, 241, 165);
$body_bgc_finish: #ce92bc;

$nav_bgc : #811260;
$nav_bgc2 : $body-bgc;
$nav-bgc3: #812370;
$nav_text : #f2f7f4;
$nav_active_text : white;
$nav_selected_text : rgba(238, 250, 133, 0.9);
$nav_underline: rgba(238, 250, 133, 0.2);

$nav_height: 150px;
$nav_smartphone_height: 100px;

$smartmenu_color: $nav_bgc;
$smartmenu_bgc: $body_bgc;
$smartmenu_border_color: $smartmenu_color;
$smartmenu_border_radius: 5px;

$header_text: $nav_text;
$header-bgc: rgba(99, 17, 71, 0.507);
$normal_text: rgb(43, 4, 30);

$font_normal: 'helvetica';
$font_header: 'helvetica';
$font_logo: 'helvetica';

$body_min_width: 350px;

$lg: 1200px;
$md: 1000px;
$sm: 800px;
$xs: 640px;

// Главное меню (шапка) - z-index: 2;
// Управляющие элементы (кнопки и т.д.) - z-index: 1;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
}

@font-face {
    font-family: 'helvetica_cyregular';
    src: url('../font/helvetica_cy-webfont.eot');
    src: url('../font/helvetica_cy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helvetica_cy-webfont.woff2') format('woff2'),
         url('../font/helvetica_cy-webfont.woff') format('woff'),
         url('../font/helvetica_cy-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_cybold';
    src: url('../font/helvetica_cy_bold-webfont.eot');
    src: url('../font/helvetica_cy_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helvetica_cy_bold-webfont.woff2') format('woff2'),
         url('../font/helvetica_cy_bold-webfont.woff') format('woff'),
         url('../font/helvetica_cy_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_cybold_italic';
    src: url('../font/helvetica_cy_bold_italic-webfont.eot');
    src: url('../font/helvetica_cy_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helvetica_cy_bold_italic-webfont.woff2') format('woff2'),
         url('../font/helvetica_cy_bold_italic-webfont.woff') format('woff'),
         url('../font/helvetica_cy_bold_italic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'helvetica_cyitalic';
    src: url('../font/helvetica_cy_italic-webfont.eot');
    src: url('../font/helvetica_cy_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helvetica_cy_italic-webfont.woff2') format('woff2'),
         url('../font/helvetica_cy_italic-webfont.woff') format('woff'),
         url('../font/helvetica_cy_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    position: relative;
    min-width: $body_min_width;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, $body_bgc, $body_bgc_finish);
    font-family: 'helvetica';
    font-size: 20px;
    color: $normal_text;

    input, textarea {
        background-color: $body_bgc!important;
        color: $normal_text;
    }
}

.action { // кликабельные эл-ты
    border-bottom: 8px solid transparent;
    cursor: pointer;
    font-weight: bold;
    &:hover {
        border-bottom: 8px solid $nav_underline;
        transition-duration: .5s;
    }
} // action

.hidden-elem {
    display: none!important;
}

.center {
    text-align: center!important;
}

.layer1 {
    z-index: 1!important;
}

.layer2 {
    z-index: 2!important;
}

.flex-blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: $md) {
        // margin-bottom: 20px;
        width: 100%;
        justify-content: space-around;
    }
    
    &.center-blocks {
        justify-content: center;
        align-items: center;
    }
    
    &.justify-blocks {
        justify-content: space-between;
        align-items: center;
    }

    &.no-wrap {
        flex-wrap: nowrap;
    } // no-wrap

    .flex-blocks_3 {
        width: 30%;
        @media (max-width: $md) {
            width: 100%;
        }
    } // flex-blocks_3

} // flex-blocks

.separator { // разделитель в смарт-меню и др.
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, $smartmenu_color, $body_bgc_finish, transparent);
    margin: 2px 0;
    list-style-type: none;
}

#home-arrow { // стрелка домой
    border-radius: 50%;
    background-color: $nav_bgc2;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    opacity: 0.5;
    color: $nav_text;
    position: fixed;
    right: 10px;
    bottom: 200px;
    z-index: 2;
    cursor: pointer;
    transform: rotate(-90deg);
    &:hover {
        opacity: 0.8;
    }
    &::before {
        content: "\27a4";
        font-size: 40px;
    }
    @media (max-width: $md) {
        right: 10px;
    }
    @media (max-width: $sm) {
        right: 5px;
    }
}

nav {
    z-index: 2;
    position: fixed;
    background-image: url(../img/nav_bg.jpg);
    color: $nav_text;
    padding: 0 20px 0 0;
    top: 0;
    height: $nav_height;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;

    font-family: $font_header;

    @media (max-width: $md) {
        height: $nav_smartphone_height;
        background-size: 100% 100px;
    }
    .nav__logo {
        display: block;
        z-index:2;
        width: 40%;
        height: inherit;
        padding: 0;

        @media (max-width: $md) {
            width: 80%;
        }

        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
            max-height: 70%;
            max-width: 100%;
            opacity: .8;
            margin-right: 20px;
            @media (max-width: $xs) {
                margin-right: 5px;
            }
        }

        .nav__logo__text {
            padding: 10px 20px;
            background: linear-gradient(to right, $nav_bgc3, transparent);
            display: flex;
            flex-direction: column;
            color: $nav_text;
            font-family: $font_logo;
            font-style: italic;
            @media (max-width: $xs) {
                font-size: 0.9em;
            }

            li {
                list-style-type: none;
            }

            h1 {
                font-size: 1em;
                font-weight: normal;
            }
        } // nav__logo__text
    }

    .nav__menu {
        z-index:2;
        width: 60%;
        @media (max-width: $md) {
            width: 20%;
            margin: 0;
        }
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    %nav-elements {
        display: inline-block;
        font-weight: bold;
        color:  $nav_text;
        text-decoration: none;
        cursor: pointer;
    }

    .nav__elem {
        @extend %nav-elements;

        padding: 0 10px 15px;
        @media (max-width: $md) {
            display: none;
        }
    }

    .nav__elem_active {
        color: $nav_selected_text;
        
    }

    .nav__button {
        @extend %nav-elements;
        font-size: 2.5rem;
        display: none;
        @media (max-width: $md) {
            display: inline-block;
            position: absolute;
            right: 3%;
        }
    }
    .nav__smartmenu {
        ul {
            padding: 0;
            margin: 0;
        }
        width: 40%;
        display: none;
        @media(max-width: $sm) {
            width: 60%;
        }
        position: fixed;
        z-index: 2;
        top: 5px;
        right: 5px;
        border-radius: 8px;
        padding: 20px;
        background-color: $smartmenu_bgc;
        border: 1px solid $smartmenu_border_color;
        border-radius: $smartmenu_border_radius;
        &.nav__smartmenu_active {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        .nav__smartmenu__elem {
            color: $smartmenu_color;
            font-weight: bold;
            list-style-type: none;
            margin: 10px 0;
            cursor: pointer;
        }
        .nav__smartmenu__close {
            text-align: right;
            padding-right: 20px;
            list-style-type: none;
            color: $smartmenu_color;
            span {
                cursor: pointer;
            }
        }
    }
} // nav

.read-more {

    max-height: 0;
    overflow: hidden;
    margin-top: 20px;
}

.read-more-button {
    
    display: block;
    z-index: 1;
    top: -10px;
    background-color: $nav-bgc3;
    color: $nav_text;
    padding: 10px;
    border: 1px solid $smartmenu_border_color;
    border-radius: 10px;
    opacity: 0.7;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;

    &.center {
        margin: auto;
    }

    &.right {
        margin-left: auto;
        margin-right: 0;
    }
}

main {
    height: 100%;
    width: 100%;
    margin-top: $nav_height * 1.5;
    @media(max-width: $md) {
        margin-top: $nav_smartphone_height * 1.5;
    }
    

    .main__module {
        
        width: 100%;
        margin: 120px auto;

        @media (max-width: $lg) {
            margin: 50px auto;
        }
        @media (max-width: $md) {
            margin: 50px auto;
        }
        @media (max-width: $sm) {
            margin: 20px auto;
        }

        .main__module__header {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 150px;
            color: $header_text;
            font-size: 1.4rem;
            font-family: $font_header;
            margin-bottom: 40px;
            background: linear-gradient(to right,transparent, $body_bgc_finish, $body_bgc_finish, transparent);
        }
        
        .main__module__sub-header {
            width: 100%;
            color: $normal_text;
            font-size: 1.6rem;
            font-family: $font_normal;
            font-weight: bold;
            margin: 30px 0;
            text-align: center;
        }

        .main__module__content {
            width: 100%;
            padding: 0 15%;

            &.full-width {
                padding: 0 5%!important;
            }

            @media (max-width: $lg) {
                padding: 0 8%;
            }
            @media (max-width: $md) {
                padding: 0 5%;
            }

            a {
                color: $normal_text;
                border-bottom: 1px solid $normal_text;
                &.no-underline {
                    border: none;
                }
            }
        
            li {
                list-style-type: none;
                margin: 10px 0;
            }
        
            p {
                margin-top: 20px;
                margin-bottom: 20px;
                text-align: justify;
                @media (max-width: $md) {
                    text-align: left;
                }
            }

            b {
                font-family: $font_header;
                color: $header_text;
                font-weight: bold;
            }
        } // main__module__content
        
    } // main__module
} // main

footer {
    background-color: $nav_bgc;
    background-image: url(../img/footer_bg.jpg);
    background-size: 100%;
    color: $nav_text;
    width: 100%;
    margin: 20px 0 0;
    padding: 20px 0;
    li {
        list-style-type: none;
        margin-bottom: 10px;
        font-style: italic;
    }

    .footer__header {
        padding-left: 100px;
        padding-top: 20px;
        font-family: $font_header;
        font-size: 1.5rem;
        margin-bottom: 20px;
        @media (max-width: $sm) {
            padding-left: 20px;
        }
    }
    
    .footer__content {
        text-align: left;
        padding-left: 120px;
        a {
            text-decoration: none;
            color: inherit;
        }
        @media (max-width: $sm) {
            padding-left: 40px;
        }
    }
    
} // footer

.phone-icon {
    height: 25px!important;
    top: 6px!important;
    position: relative!important;
    margin-right:10px!important;
}

.think {
    background-color: rgb(230,230,230);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-style: italic;
    font-size: 0.95em;
    clear: both;
    padding: 20px;
    margin-bottom: 40px!important;
    margin-left: 40px;
    &::before {
        content:"";
        display: inline-block;
        position: absolute;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        left: -40px;
        top: 0;
        border: 20px solid transparent;
        border-top: 20px solid rgb(230,230,230);
        border-right: 20px solid rgb(230,230,230);

        @media (max-width: $sm) {
            border: 10px solid transparent;
            border-top: 10px solid rgb(230,230,230);
            border-right: 10px solid rgb(230,230,230);
            left: -20px;
        }
    }
}

.action-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to bottom, rgb(226, 213, 28), rgb(241, 237, 170));
    cursor: pointer;
    color: $normal_text;
    font-weight: bold;
    text-align: center;
    width: 40%;
    height: 70px;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid rgb(226, 213, 28);
    margin-bottom: 20px;
    @media (max-width: $sm) {
        width: 60%;
        height: 100px;
    }

    &.quickly {
        background:linear-gradient(to bottom, rgb(187, 182, 182), red);
        color: inherit;
        width: 30%;
        height: 50px;
        font-size: 0.9em;
        font-weight: normal;
        border: 3px solid rgb(187, 182, 182);
        @media (max-width: $sm) {
            width: 40%;
            height: 80px;
        }
    }
}

.about {
    align-items: flex-start;

    @media (max-width: $md) {
        justify-content: center;
        align-items: center;
    }

    .about__img {
        width: 30%;
        text-align: center;

        @media (max-width: $md) {
            width: 40%;
            margin-bottom: 20px;
        }

        @media (max-width: $sm) {
            width: 70%;
            margin-bottom: 20px;
        }

        img {
            width: 100%;
        }
    } // about__img

    .about__text {
        width: 65%;
        @media (max-width: $md) {
            width: 100%;

            p {
                text-align: center;
            }
        }
    } // about__text
}

.specialization {
    background-color: $body_bgc_finish;
    height: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    .img {
        text-align: center;
        img {
            height: 75px!important;
        }
    }
}

.about__education__img {
        width: 15%;
}
.about__education__text {
        width: 80%;
}

.list-marker {
    display: flex;
    justify-content: center;

    span {
        display: inline-block;
        width: 60%;
        @media (max-width: $md) {
            width: 80%;
        }
    }
    img {
        display: block;
        width: 25px!important;
        height: 25px!important;
        margin-right: 30px!important;
        top: -4px;
        &.close {
            top: 0;
        }
    }
}

.main-info-header {
    span {
        margin-right: 50px;
    }
    img {
        margin-right: 35px;
        &:nth-child(1) {
            opacity: 0.5;
            height: 20px;
        }
        &:nth-child(2) {
            opacity: 0.55;
            height: 25px;
        }
        &:nth-child(3) {
            opacity: 0.6;
            height: 30px;
        }
    }
}

.help {
    width: 100%;
    height: 100%;
    background-image: url(../img/rain.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}

.service {

    .service__item {
        display: flex;
        flex-direction: column;
        width: 25%;
        align-items: center;
        text-align: center;
    }

    .service_description {
        width: 70%;
    }
}

.quession { // действие по клику - отправка почты
    cursor: pointer;
    font-weight: bold;
}

.quession_common {
    @media (max-width: $sm) {
        width: 80%;
    }
}