* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}

@font-face {
  font-family: 'helvetica_cyregular';
  src: url("../font/helvetica_cy-webfont.eot");
  src: url("../font/helvetica_cy-webfont.eot?#iefix") format("embedded-opentype"), url("../font/helvetica_cy-webfont.woff2") format("woff2"), url("../font/helvetica_cy-webfont.woff") format("woff"), url("../font/helvetica_cy-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_cybold';
  src: url("../font/helvetica_cy_bold-webfont.eot");
  src: url("../font/helvetica_cy_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/helvetica_cy_bold-webfont.woff2") format("woff2"), url("../font/helvetica_cy_bold-webfont.woff") format("woff"), url("../font/helvetica_cy_bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_cybold_italic';
  src: url("../font/helvetica_cy_bold_italic-webfont.eot");
  src: url("../font/helvetica_cy_bold_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../font/helvetica_cy_bold_italic-webfont.woff2") format("woff2"), url("../font/helvetica_cy_bold_italic-webfont.woff") format("woff"), url("../font/helvetica_cy_bold_italic-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'helvetica_cyitalic';
  src: url("../font/helvetica_cy_italic-webfont.eot");
  src: url("../font/helvetica_cy_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../font/helvetica_cy_italic-webfont.woff2") format("woff2"), url("../font/helvetica_cy_italic-webfont.woff") format("woff"), url("../font/helvetica_cy_italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

body {
  position: relative;
  min-width: 350px;
  width: 100%;
  margin: 0;
  padding: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6f1a5), to(#ce92bc));
  background: linear-gradient(to bottom, #e6f1a5, #ce92bc);
  font-family: 'helvetica';
  font-size: 20px;
  color: #2b041e;
}

body input, body textarea {
  background-color: #e6f1a5 !important;
  color: #2b041e;
}

.action {
  border-bottom: 8px solid transparent;
  cursor: pointer;
  font-weight: bold;
}

.action:hover {
  border-bottom: 8px solid rgba(238, 250, 133, 0.2);
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.hidden-elem {
  display: none !important;
}

.center {
  text-align: center !important;
}

.layer1 {
  z-index: 1 !important;
}

.layer2 {
  z-index: 2 !important;
}

.flex-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1000px) {
  .flex-blocks {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.flex-blocks.center-blocks {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-blocks.justify-blocks {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-blocks.no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-blocks .flex-blocks_3 {
  width: 32%;
}

@media (max-width: 1000px) {
  .flex-blocks .flex-blocks_3 {
    width: 100%;
  }
}

.separator {
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#811260), color-stop(#ce92bc), to(transparent));
  background: linear-gradient(to right, #811260, #ce92bc, transparent);
  margin: 2px 0;
  list-style-type: none;
}

#home-arrow {
  border-radius: 50%;
  background-color: #e6f1a5;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  opacity: 0.5;
  color: #f2f7f4;
  position: fixed;
  right: 10px;
  bottom: 200px;
  z-index: 2;
  cursor: pointer;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#home-arrow:hover {
  opacity: 0.8;
}

#home-arrow::before {
  content: "\27a4";
  font-size: 40px;
}

@media (max-width: 1000px) {
  #home-arrow {
    right: 10px;
  }
}

@media (max-width: 800px) {
  #home-arrow {
    right: 5px;
  }
}

nav {
  z-index: 2;
  position: fixed;
  background-image: url(../img/nav_bg.jpg);
  color: #f2f7f4;
  padding: 0 20px 0 0;
  top: 0;
  height: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "helvetica";
}

@media (max-width: 1000px) {
  nav {
    height: 100px;
    background-size: 100% 100px;
  }
}

nav .nav__logo {
  display: block;
  z-index: 2;
  width: 40%;
  height: inherit;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 1000px) {
  nav .nav__logo {
    width: 80%;
  }
}

nav .nav__logo img {
  max-height: 70%;
  max-width: 100%;
  opacity: .8;
  margin-right: 20px;
}

@media (max-width: 640px) {
  nav .nav__logo img {
    margin-right: 5px;
  }
}

nav .nav__logo .nav__logo__text {
  padding: 10px 20px;
  background: -webkit-gradient(linear, left top, right top, from(#812370), to(transparent));
  background: linear-gradient(to right, #812370, transparent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f2f7f4;
  font-family: "helvetica";
  font-style: italic;
}

@media (max-width: 640px) {
  nav .nav__logo .nav__logo__text {
    font-size: 0.9em;
  }
}

nav .nav__logo .nav__logo__text li {
  list-style-type: none;
}

nav .nav__logo .nav__logo__text h1 {
  font-size: 1em;
  font-weight: normal;
}

nav .nav__menu {
  z-index: 2;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1000px) {
  nav .nav__menu {
    width: 20%;
    margin: 0;
  }
}

nav .nav__elem, nav .nav__button {
  display: inline-block;
  font-weight: bold;
  color: #f2f7f4;
  text-decoration: none;
  cursor: pointer;
}

nav .nav__elem {
  padding: 0 10px 15px;
}

@media (max-width: 1000px) {
  nav .nav__elem {
    display: none;
  }
}

nav .nav__elem_active {
  color: rgba(238, 250, 133, 0.9);
}

nav .nav__button {
  font-size: 2.5rem;
  display: none;
}

@media (max-width: 1000px) {
  nav .nav__button {
    display: inline-block;
    position: absolute;
    right: 3%;
  }
}

nav .nav__smartmenu {
  width: 40%;
  display: none;
  position: fixed;
  z-index: 2;
  top: 5px;
  right: 5px;
  border-radius: 8px;
  padding: 20px;
  background-color: #e6f1a5;
  border: 1px solid #811260;
  border-radius: 5px;
}

nav .nav__smartmenu ul {
  padding: 0;
  margin: 0;
}

@media (max-width: 800px) {
  nav .nav__smartmenu {
    width: 60%;
  }
}

nav .nav__smartmenu.nav__smartmenu_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav .nav__smartmenu .nav__smartmenu__elem {
  color: #811260;
  font-weight: bold;
  list-style-type: none;
  margin: 10px 0;
  cursor: pointer;
}

nav .nav__smartmenu .nav__smartmenu__close {
  text-align: right;
  padding-right: 20px;
  list-style-type: none;
  color: #811260;
}

nav .nav__smartmenu .nav__smartmenu__close span {
  cursor: pointer;
}

.read-more {
  max-height: 0;
  overflow: hidden;
  margin-top: 20px;
}

.read-more-button {
  display: block;
  z-index: 1;
  top: -10px;
  background-color: #812370;
  color: #f2f7f4;
  padding: 10px;
  border: 1px solid #811260;
  border-radius: 10px;
  opacity: 0.7;
  font-style: italic;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

.read-more-button.center {
  margin: auto;
}

.read-more-button.right {
  margin-left: auto;
  margin-right: 0;
}

main {
  height: 100%;
  width: 100%;
  margin-top: 225px;
}

@media (max-width: 1000px) {
  main {
    margin-top: 150px;
  }
}

main .main__module {
  width: 100%;
  margin: 120px auto;
}

@media (max-width: 1200px) {
  main .main__module {
    margin: 50px auto;
  }
}

@media (max-width: 1000px) {
  main .main__module {
    margin: 50px auto;
  }
}

@media (max-width: 800px) {
  main .main__module {
    margin: 20px auto;
  }
}

main .main__module .main__module__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 150px;
  color: #f2f7f4;
  font-size: 1.4rem;
  font-family: "helvetica";
  margin-bottom: 40px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#ce92bc), color-stop(#ce92bc), to(transparent));
  background: linear-gradient(to right, transparent, #ce92bc, #ce92bc, transparent);
}

main .main__module .main__module__sub-header {
  width: 100%;
  color: #2b041e;
  font-size: 1.6rem;
  font-family: "helvetica";
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
}

main .main__module .main__module__content {
  width: 100%;
  padding: 0 15%;
}

main .main__module .main__module__content.full-width {
  padding: 0 5% !important;
}

main .main__module .main__module__content .img-round {
  border-radius: 50%;
  margin: 20px;
}

@media (max-width: 1200px) {
  main .main__module .main__module__content {
    padding: 0 8%;
  }
}

@media (max-width: 1000px) {
  main .main__module .main__module__content {
    padding: 0 5%;
  }
}

main .main__module .main__module__content a {
  color: #2b041e;
  border-bottom: 1px solid #2b041e;
}

main .main__module .main__module__content a.no-underline {
  border: none;
}

main .main__module .main__module__content li {
  list-style-type: none;
  margin: 10px 0;
}

main .main__module .main__module__content p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

@media (max-width: 1000px) {
  main .main__module .main__module__content p {
    text-align: left;
  }
}

main .main__module .main__module__content b {
  font-family: "helvetica";
  color: #f2f7f4;
  font-weight: bold;
}

footer {
  background-color: #811260;
  background-image: url(../img/footer_bg.jpg);
  background-size: 100%;
  color: #f2f7f4;
  width: 100%;
  margin: 20px 0 0;
  padding: 20px 0;
}

footer li {
  list-style-type: none;
  margin-bottom: 10px;
  font-style: italic;
}

footer .footer__header {
  padding-left: 100px;
  padding-top: 20px;
  font-family: "helvetica";
  font-size: 1.5rem;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  footer .footer__header {
    padding-left: 20px;
  }
}

footer .footer__content {
  text-align: left;
  padding-left: 120px;
}

footer .footer__content a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 800px) {
  footer .footer__content {
    padding-left: 40px;
  }
}

.phone-icon {
  height: 25px !important;
  top: 6px !important;
  position: relative !important;
  margin-right: 10px !important;
}

.think {
  background-color: #e6e6e6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-style: italic;
  font-size: 0.95em;
  clear: both;
  padding: 20px;
  margin-bottom: 40px !important;
  margin-left: 40px;
}

.think::before {
  content: "";
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: -40px;
  top: 0;
  border: 20px solid transparent;
  border-top: 20px solid #e6e6e6;
  border-right: 20px solid #e6e6e6;
}

@media (max-width: 800px) {
  .think::before {
    border: 10px solid transparent;
    border-top: 10px solid #e6e6e6;
    border-right: 10px solid #e6e6e6;
    left: -20px;
  }
}

.action-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: -webkit-gradient(linear, left top, left bottom, from(#e2d51c), to(#f1edaa));
  background: linear-gradient(to bottom, #e2d51c, #f1edaa);
  cursor: pointer;
  color: #2b041e;
  font-weight: bold;
  text-align: center;
  width: 40%;
  height: 70px;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid #e2d51c;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .action-button {
    width: 60%;
    height: 100px;
  }
}

.action-button.quickly {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbb6b6), to(red));
  background: linear-gradient(to bottom, #bbb6b6, red);
  color: inherit;
  width: 30%;
  height: 50px;
  font-size: 0.9em;
  font-weight: normal;
  border: 3px solid #bbb6b6;
}

@media (max-width: 800px) {
  .action-button.quickly {
    width: 40%;
    height: 80px;
  }
}

.about {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1000px) {
  .about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about .about__img {
  width: 30%;
  text-align: center;
}

@media (max-width: 1000px) {
  .about .about__img {
    width: 40%;
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .about .about__img {
    width: 70%;
    margin-bottom: 20px;
  }
}

.about .about__img img {
  width: 100%;
}

.about .about__text {
  width: 65%;
}

@media (max-width: 1000px) {
  .about .about__text {
    width: 100%;
  }
  .about .about__text p {
    text-align: center;
  }
}

#biography {
  height: 500px;
  background-color: #ce92bc;
  padding: 20px 10px;
}

.specialization {
  background-color: #ce92bc;
  height: 1170px;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.specialization .img {
  text-align: center;
}

.specialization .img img {
  height: 75px !important;
}

.specialization .specialization_h3 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.about__education__img {
  width: 15%;
}

.about__education__text {
  width: 80%;
}

.list-marker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-marker span {
  display: inline-block;
  width: 60%;
}

@media (max-width: 1000px) {
  .list-marker span {
    width: 80%;
  }
}

.list-marker img {
  display: block;
  width: 25px !important;
  height: 25px !important;
  margin-right: 30px !important;
  top: -4px;
}

.list-marker img.close {
  top: 0;
}

.main-info-header span {
  margin-right: 50px;
}

.main-info-header img {
  margin-right: 35px;
}

.main-info-header img:nth-child(1) {
  opacity: 0.5;
  height: 20px;
}

.main-info-header img:nth-child(2) {
  opacity: 0.55;
  height: 25px;
}

.main-info-header img:nth-child(3) {
  opacity: 0.6;
  height: 30px;
}

.help {
  width: 100%;
  height: 100%;
  background-image: url(../img/rain.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}

.service .service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.service .service_description {
  width: 70%;
}

.quession {
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 800px) {
  .quession_common {
    width: 80%;
  }
}
/*# sourceMappingURL=styles.css.map */